* {
  margin: 0;
  padding: 0;
  margin-top:-1px;
}

body {
  background-color: #0071c5;
}

h5{
  color:#003C71;
  font-size: 1.5rem;
}

h3{
  color:#003C71;
}

h1{
  color:#003C71;
  font-size: 2.5rem;
}

.submenuSpan{
    font-size: 25px;
    color: whitesmoke;
}

.btn-style{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
    .tab 
    {
        padding-left: 1rem;       
        cursor: pointer;
        font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #003C71;
        font-size: 20px;
        font-weight: bold;
        float: left;
    }

    .h1-style 
    {
       float: left;
       padding-left: 1rem;
       font-size: 45px;
    }

    .h3-style 
    {
       float: left;
       font-size: 35px;
        color: #003C71;
    }

    .text{
        font-family: "Intel Clear","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #003C71;
        font-size: 16px;
        font-weight: bold;
        float: left;
    }

.card-title-color{
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 4rem;
  margin-top: 2%;
}


.card {
    background-color: rgba(255, 255, 255, 0.1);
    background-clip: border-box;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .file-align{
    font-size: 15px;
    float: left;
    margin-top: -40px;
  }

   .select-align{
    float: left;
    margin-top: -40px;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: #black;
}

.card-body.card-btn {
    padding: 0;
    min-width: 180px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    background-color: #0071c5;
    color: whitesmoke;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.text-center {
    text-align: center!important;
}

.card-btn .btn {
    position: static;
    width: 100%;
    flex: 1 0 auto;
    padding-top: 30px;
}
.btn-link {
    font-weight: 400;
    color: whitesmoke;
    background-color: transparent;
}
.text-center {
    text-align: center!important;
}

.sidebar li .submenu{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
}
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}

.bg-color{
     background-color: #0071c5;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

 .subsubmenuSpan{
    font-size: 15px;
    color: whitesmoke;
    align-items: start;
}

.main{
  display: flex;
  height: 100vh;
}


.container{
  flex-grow: 1;
  padding: 1em;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  display: flex;
  color: whitesmoke;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title{
  font-size: 3em;
}
.info{
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color:whitesmoke;
}

.sidebar{
  width: 370px;
  flex-shrink: 0;
  background-color: #0071c5;
  height: 100%;
  overflow: auto;
  color: whitesmoke;
}


.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
  font-size: 16px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

.trSize{
    font-size: 17px;
    font-weight: bold;

}

.thSize{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-color: red;
}

.error{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.trSize_sub{
    font-size: 15px;
    color: #003C71;
}

.btnSize{
    font-size: 25px;
}

.downloadFile{
    font-size: 20px;
    float: left;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.dancss {
    border: 2px solid #eee;
    float: left;
    width: 100%;
    overflow: auto;
    padding: 10px;
    font-size: 30px;
}

